/*Mystyle.css*/
body
{
    font-family:"Microsoft Yahei";
}

table,tr,td,th,a
{
    text-align:center;
    border-style:ridge;
    border-width:3px;
    border-color:green;
    border-collapse:collapse;
}

p.Ex
{
    border-left-style:solid;
    border-width:5px;
    border-color:#5CACEE;
    background-color:#E0FFFF;
    font-family:FangSong;
    font-size:20px;
}

a:link{color:#FF4500;}
a:visited{color:#FF1493;}
a:hover{color:#1A1A1A;}
a:active{color:#218868;}
